body {
    background-color: #eee;
    font-family: sans-serif;
}
.card {
    width: 500px;
    padding: 8px;
    margin: 16px auto;
    background-color: #fff;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    background-color: #e3f4ff
  }
  
  .content {
    padding: 16px 8px;
    margin-bottom: 8px;
    background-color: #e3f4ff;
  }
  
  .button-container {
    text-align: center;
    padding: 8px;
    background-color: #e3f4ff
  }

  button {
    background-color: white;
    align-items: center;
    display: block;;
    margin: 0 auto;
    padding: 8px 24px;
  }
